.character-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  max-width: 900px;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Creates four columns */
  gap: 20px; /* Space between the cards */
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 100px;
  height: 100px;
}

.character-card:hover {
  transform: translateY(-5px);
}

.character-name {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.character-card img {
  width: 100px; /* Fixed width for all icons */
  height: 100px; /* Fixed height for all icons */
  object-fit: cover; /* Ensures the image covers the set area without distorting aspect ratio */
  border-radius: 50%; /* Optional: Makes the image circular */
}

@media (max-width: 1200px) {
  .character-list {
    grid-template-columns: repeat(5, 1fr);
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .character-list {
    grid-template-columns: repeat(3, 1fr);
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 200px;
  }
}
